@import "general.scss";
.create-post{
    
    .primary-btn{
        margin-top: 10px !important;
        margin-bottom: 90px;
    }

    p{
        text-align: center;
        margin-right: 5vw;
        margin-top: 20px;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        /* or 25px */


        /* Black */

        color: #777;
    }

    label{
        margin-left: 5vw;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 140%;
        color: #000000;
        margin-bottom: 15px;
    }

    .img-file, .progress{
        display: none;
    }

    input,textarea{
        margin-left: 5vw;
        margin-bottom: 20px;
        margin-top: 5px;
        border: 1px solid #D9D9D9;
        box-sizing: border-box;
        border-radius: 4px;
        width: 90vw;
        padding: 10px;
    }

    img{ 
        margin-left: 5vw;
        width: 90vw;
        margin-bottom: 15px;
    }

    .or-line{
        color: #C4C4C4;
        margin-bottom: 30px;
        span{
            align-items: center;
            text-align: center;
            position: relative;
            bottom: 3px;
            margin-left: 3vw;
        }
        hr{
            border-top: 1px solid #C4C4C4;
            width: 40vw;
        }

    }

    .categories-on-create{
        margin: $base-margin;
        width: 90vw;
        z-index: 2;
        grid-template-columns: 9fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 30px;
        
        .item{
            display: inline-block;
            text-align: center;
            width: 30%;
            margin-right: 10px;
            margin-bottom: 15px;
        }
        .container {
            display: block;
            position: relative;
            bottom: 15px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        /* Hide the browser's default checkbox */
        .container input {
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            border-radius: 4px;
            text-align: center;
            padding: 8px 0;
            top: 0;
            left: 0;
            height: auto;
            width: 100%;
            font-size: 11px;
            font-weight: 500;
            color: $dark-grey;
            background-color: #fff;
            border: 1px solid #F2F2F2;
            word-wrap: break-word
        }
        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #FFEBD9;
            color: #FF7700
        }
        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }
        .all-categories {
           background-color: #fff;
           border-radius: 4px;
           text-align: center;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           height: 36px;
           span{
                   display: block;
                   color: $dark-grey;
                   line-height: 4px;
                   position: relative;
                   bottom: 4px;

           }
        }
    }
}

@media only screen and (max-width: 340px) {
    .or-line{
        span{
            margin-left: 2.5vw !important;
        }
    }
}

@media only screen and (min-width: 700px) {
    .or-line{
        span{
            margin-left: 4vw !important;
        }
    }
}

