@import "general.scss";

.edit-profile {
    margin-bottom: 120px;
    // .edit-background-picture{
    //     position: absolute;
    //     z-index: 10;
    //     top: 10vh;
    //     right: 2vw;
    //     .row {
    //         display: none;
    //     }
    // }
    .edit-background-picture{
        // position: absolute;
        position: relative;
        // z-index: 10;
        bottom: 280px;
        left: 85vw;
        .row {
            display: none;
        }
    }
    input[type="file"] {
        display: none;
    }
   
  .image-upload{
      display: none;
  }

  .edit-profile-picture{
    img {
        position: relative;
        left: 80px;
        bottom: 150px;
    }
    .row {
        display: none;
    }
  }
  .input-container {
      margin: $base-margin;
      position: relative;
      bottom: 120px;
      input, textarea{
        display: block;
        margin: 5px 0 20px 0;
        border-radius: $border-radius-btn;
        border: 1px solid #d9d9d9;
        padding: 10px;
        width: 100%;
    }
    label {
        color: $dark;
        font-size: 16px
    }
  
    textarea {
        min-height: 80px;
    }
}
  

}

@media(min-width: 768px){
  .edit-profile .input-container {
      margin: 0 30%
  }
  .edit-profile-picture{
    img {
        left: 110px !important;
    }
  }
}
