@import "general.scss";

.edit-profile {
    margin-bottom: 120px;
    .edit-background-picture{
        position: relative;
        left: 28px;
        img {
            position: relative;
            top: 20px;
        }
        .row {
            display: none;
        }
    }
    input[type="file"] {
        display: none;
    }
   
  .image-upload{
      display: none;
  }

  .edit-profile-picture{
    img {
        position: relative;
        left: 80px;
        bottom: 90px;
    }
    .row {
        display: none;
    }
  }
  .input-container {
      margin: $base-margin;
      position: relative;
      bottom: 60px;
      input, textarea{
        display: block;
        margin: 5px 0 20px 0;
        border-radius: $border-radius-btn;
        border: 1px solid #d9d9d9;
        padding: 10px;
        width: 100%;
    }
    label {
        color: $dark;
        font-size: 16px
    }
  
    textarea {
        min-height: 80px;
    }
}
  

}

@media(min-width: 768px){
  .edit-profile .input-container {
      margin: 0 30%
  }
  .edit-profile-picture{
    img {
        left: 110px !important;
    }
  }
}
