@import "general.scss";

.edit-profile {
    min-height: 150vh;
    .edit-background-picture{
        position: absolute;
        z-index: 10;
        top: 2vh;
        right: 2vw;
        .row {
            display: none;
        }
    }
    input[type="file"] {
        display: none;
    }
   
  .image-upload{
      display: none;
  }

  .edit-profile-picture{
    position: relative;
    left: 120px;
    bottom: 135px;
    .row {
        display: none;
    }
  }
  .input-container {
      margin: $base-margin;
      position: relative;
      bottom: 120px;
      input, textarea{
        display: block;
        margin: 5px 0 20px 0;
        border-radius: $border-radius-btn;
        border: 1px solid #d9d9d9;
        padding: 10px;
        width: 100%;
    }
    label {
        color: $dark;
        font-weight: 600;
        font-size: 16px
    }
    button {
        width: 100%;
        border-radius: $border-radius-btn;
        padding: 10px 0;
        background-color: $primary-color;
        color: #fff;
        font-weight: 600;
    }
    textarea {
        min-height: 80px;
    }
}
  

}
