.feed-cat{
    .onboarding{
        overflow: auto;
        white-space: nowrap;
        margin-left: 5vw;
        margin-right: 5vw;
    }  

    button{
        width: 180px;
        height: 60px;
        background: #FFFFFF;
        border: 2px solid #FF7700;
        box-sizing: border-box;
        border-radius: 8px;
        color: #FF7700;
        font-size: 22px;
        font-weight: bold;
        display: block;
        position: relative;
        bottom: 32px;
        cursor: pointer;
    }
    .onboarding::-webkit-scrollbar {
        display: none;
      }  
    .item{
        display: inline-block;
        color: white;
        text-align: center;
        font-weight: bold;
        width: 200px;
        height: 70px;
        text-decoration: none;
    }
    .container {
        display: block;
        position: relative;
        margin-bottom: 100px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        border-radius: 5px;
        text-align: center;
        padding-top: 15px;
        top: 0;
        left: 0;
        height: 60px;
        width: 180px;
        background-color: #0000006c;
        padding-top: 20px;
        background-blend-mode: soft-light;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
    }

    .Roller{
        background-image: url('../../images/rollerskating.jpeg') ;   
    }

    .Martial{
        background-image: url('../../images/boxing.jpg') ;   
    }

    .Running{
        background-image: url('../../images/running.jpg') ;   
    }
    
    .Surfing{
        background-image: url('../../images/surfing.jpg') ;   
    }

    .Cycling{
        background-image: url('../../images/cycling.jpg') ;   
    }

    .Fitness{
        background-image: url('../../images/fitness.jpg') ;   
    }
    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #ff92336e;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 160px;
        top: 43px;
        width: 6px;
        height: 12px;
        border-radius: 1px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
}
.feed-header{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    height: 60px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    input {
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        outline: none;
        height: 34px;
        width: 220px;
        padding: 10px;
        margin-top: -5px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 220px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        border: 1px solid #e5e5e5;
        border-radius: 0 0 4px 4px;
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .user {
          margin-bottom: 10px;
      }
    input::placeholder{
        font-size: 12px;
    }
    h1{
        height: 24px;
        font-family: Bebas Neue;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 24px;
        color: #FF7700;
        text-transform: capitalize;
    }
    .MuiSvgIcon-root{
        position: absolute;
        right: 5vw;
        top: 10px;
        color: #bfbfbf;
        font-size: 35px !important;
    }
}
