@import "general.scss";
.login{
    h1{
        margin-bottom: 150px;
        margin-top: 40px;
        margin-left: 5vw;
        color: $dark;
    }
    
    p{
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        line-height: 140%;
        color: #777;
    }

    label{
        margin-left: 5vw;
        font-size: 15px;
        line-height: 140%;
        color: #777;
    }

    input{
        margin-left: 5vw;
        margin-bottom: 20px;
        margin-top: 5px;
        padding: 10px;
    }

    #signup-link {
        color:#0133a0 !important;
    }
    

    .or-line{
        color: #C4C4C4;
        margin-bottom: 30px;
        span{
            align-items: center;
            text-align: center;
            position: relative;
            bottom: 3px;
            margin-left: 3vw;
        }
        hr{
            border-top: 1px solid #C4C4C4;
            width: 40vw;
        }

    }
}

@media only screen and (max-width: 340px) {
    .or-line{
        span{
            margin-left: 2.5vw !important;
        }
    }
}

@media only screen and (min-width: 700px) {
    .or-line{
        span{
            margin-left: 4vw !important;
        }
    }
}

