@import "general.scss";
.login{
    
    
    h1{
        margin-bottom: 150px;
        margin-top: 40px;
        margin-left: 5vw;
        color: $dark;
    }
    
    p{
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        line-height: 140%;
        color: #777;
    }

    label{
        margin-left: 5vw;
        font-size: 15px;
        line-height: 140%;
        color: #777;
    }

    input{
        margin-left: 5vw;
        margin-bottom: 20px;
        margin-top: 5px;
        padding: 10px;
    }

    #signup-link {
        color:#0133a0 !important;
    }
    

    .or-line{
        color: #C4C4C4;
        margin-bottom: 30px;
        span{
            align-items: center;
            text-align: center;
            position: relative;
            bottom: 3px;
            margin-left: 3vw;
        }
        hr{
            border-top: 1px solid #C4C4C4;
            width: 40vw;
        }

    }
}

.landing{
    .landing-header{
        height: 40vh;
    }

    .primary-btn{
        margin-top: 60px;
    }

    img{
        padding-top: 15px;
    }

    h1{
        height: 24px;
        margin-top: 60px;
        padding-top: 20px;
        font-family: Bebas Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        color: $primary-color;
        margin-bottom: 40px;
    }

    p{
        text-align: center;
        margin-top: 20px;
        margin-left: 5vw;
        margin-right: 5vw;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 60px;
        /* or 25px */

        /* Black */

        color: #777;
    }

    .link{
        color: #0133a0 !important;
    }

    .facebook-btn{
        top: 20vh;
    }

    .landing-body{
        background: #fff;
        z-index: 1000;
        position: relative;
        height: 60vh;
    }

    .landing-img-1{
        height: 30vh;
        border-radius: 10px;
        position: absolute;
        left: -80px;
        top: -10px;
        z-index: 10;
    }

    .landing-img-2{
        height: 25vh;
        border-radius: 10px;
        position: absolute;
        right: -30px;
        top: 165px;
        z-index: 100;
    }

    .landing-img-3{
        height: 20vh;
        border-radius: 10px;
        position: absolute;
        right: -65px;
        top: -1px;
        z-index: 5;
    }
    .landing-img-4{
        width: 38vw;
        border-radius: 10px;
        position: absolute;
        left: -8px;
        top: 195px;
        z-index: 10;
    }
}

@media only screen and (max-width: 340px) {
    .or-line{
        span{
            margin-left: 2.5vw !important;
        }
    }
}

@media only screen and (min-width: 700px) {
    .or-line{
        span{
            margin-left: 4vw !important;
        }
    }
}

