header {
    display: inline-block;
    border-bottom: 1px solid lightblue;
    text-align: center;
    padding: 12px;
    }
.nav-a {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    }

