.absolute-bot {
    width: 100vw;
    position: fixed;
    bottom: 0rem;
    align-self: flex-end;
    background-color: white;
    border-top: 1px solid #9999993d;
    z-index: 99999;

}

.fas, .icon{
    color: #777;
}

.active{
    background: none !important;
    i{
        color: #FF7700;
    }
}

@media screen and (min-width: 1024px) {
    .absolute-bot {
        width: 75vw;
    }
}
