@import "general.scss";
.absolute-bot {
    width: 100vw;
    position: fixed;
    bottom: 0rem;
    align-self: flex-end;
    background-color: white;
    border-top: 1px solid #9999993d;
    z-index: 99999;
    .icon-navbar{
        color: #bfbfbf;
        font-size: 24px

    }
}

.search{
    .hide{
        display: none;
    }
}

.active{
    background: none !important;
    .icon-navbar{
        color: $primary-color;
    }
}
.notification-number-1 {
    background-color: #3C8A8B;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    bottom: 10px;
    right: 18px;
    span{
        color: #fff;
        font-size: 14px;
        position: relative;
        top: 2px;
        right: 1px
    }
}

.notification-number-2 {
    background-color: #3C8A8B;
    width: 32px;
    height: 20px;
    border-radius: 16px;
    position: relative;
    bottom: 10px;
    right: 20px;
    span{
        color: #fff;
        font-size: 14px;
        position: relative;
        top: 2px
    }
}

@media screen and (min-width: 1024px) {
    .absolute-bot {
        width: 75vw;
    }
}
