@import "general.scss";
.newPostUploader{
    .custom-file-upload{
        width: 20vw;
        color: $primary-color;

        svg{
            background: #fff;
            border-radius: 15px;
            z-index: 9999;   
            top: 15px;
            right: 8vw;
            position: absolute;
        }
    }

    .custom-file-remove{
        width: 20vw;
        color: $primary-color;
        margin-left: 0;

        svg{
            background: #fff;
            z-index: 9999;
            border-radius: 15px;
            top: 15px;
            left: 8vw;
            position: absolute;
        }
    }

    .newPostInput{
        display: none;
    }

    .margin-left{
        margin-left: 5vw;
        margin-top: -21px;
    }

    .image-base{
        min-height: 40vh;
        background: url("https://support.hostgator.com/img/articles/weebly_image_sample.png") no-repeat center;
        margin-bottom: 20px;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: -21px;
    }

    .carousel-root {
        margin-left: 0vw ;
        width: 90vw;
    }
}