@import "general.scss";
.newPostUploader{
    .custom-file-upload{
        position: absolute;
        top: 15px;
        right: -7vw;
        width: 20vw;
        z-index: 9999;
        color: $primary-color;

        svg{
            background: #fff;
            border-radius: 15px;
        }
    }

    .custom-file-remove{
        position: absolute;
        top: 15px;
        left: 2vw;
        width: 20vw;
        z-index: 9999;
        color: $primary-color;

        svg{
            background: #fff;
            border-radius: 15px;
        }
    }

    .newPostInput{
        display: none;
    }

    .margin-left{
        margin-left: 5vw;
    }

    .image-base{
        min-height: 40vh;
        background: url("https://support.hostgator.com/img/articles/weebly_image_sample.png") no-repeat center;
        margin-bottom: 20px;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .carousel-root {
        margin-left: 0vw ;
        width: 90vw;
    }
}