@import "general.scss";
$margin-left: 10px;


.post-card-container{
    margin-bottom: 20px
}

.title{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 140%;
    margin-left: 6vw;
    margin-bottom: 0px;
}

form button {
    background-color: $primary-color;
    border-radius: $border-radius-btn;
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
}
a, .link{
    color: inherit !important;
}
.follow-btn,
.unfollow-btn{
    border-radius: $border-radius-btn;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    outline: none
}
.follow-btn{
    background-color: $primary-color;
    color: $color-primary-button;
}
.unfollow-btn{
    background-color: #fff;
    color: $primary-color;
    border: 1px solid #fff
}

// PostCard header
.post-card-header{
    display: flex;
    position: relative;
    top: 10px;
    margin: $base-margin;
    margin-bottom: 5px;
}

.share{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    margin-left: 21px;
    margin-top: -5px;

    // .MuiSvgIcon-root{
    //     font-size: 35px;
    // }
}

.coment{
    svg{
        margin-top: 3px;
    }

    p {
        margin-top: -8px !important;
    }
}


.post-card-header-content{
    margin-left: 5px;
    font-size: 12px;

    p {
        font-size: 12px;
        margin-top: 5px;
        position: relative;
        bottom: 2px
    }
    span {
        position: relative;
        bottom: 18px
    }
}

.ui.avatar.image{
    width: 40px;
    height: 40px;

}

// PostCard icons
.post-card-icons{
    padding-top: 20px;
    padding-left: 5px;
    display: flex;
    margin: $base-margin;
    color: #BFBFBF;
    text-align: center;
    div:nth-child(2) {
        margin-left: 26px;
    }
    p{
        color: #BFBFBF !important; 
        font-size: 12px; 
        margin-top: -5px;
    }
    
}

.like{
    color: #FF9233;
}

// .MuiSvgIcon-root {
//     font-size: 25px;
// }

.spot-info{
    margin-top: 18px;
    color: $light-grey;
    span{
        display: inline-block;
        font-size: 12px
    }
    .dot-location {
        height: 2px;
        width: 2px;
        margin: 0 2px 0 7px;
        background-color: $light-grey !important;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        bottom: 21px
      }
}

.location-name{
    svg{
        width: 17px;
        height: 13px;
        margin-bottom: -2px;
        margin-right: -5px;
    }
}

.description{
    margin: $base-margin;
    margin-top: 15px;
    scroll-margin-bottom: 30px;
    border-bottom: 1px #BFBFBF;
    padding-left: 4px;
}

.spacer{
    margin-top: 30px;
    background-color: #99999936;
    width: 90vw;
    margin-left: 5vw;
    height: 1px;
}
.read-more-button{
    position: relative;
    left: -40px;
    text-align: left;
    float: right;
    color: #FF9233;
    font-weight: bold;
    font-size: 12px;
}

.carousel .slide{
    background: #fff !important;
}

.slider-wrapper{
    border-radius: 8px;
}

.carousel-root{
    margin-left: 5vw;
    width: 90vw;
    margin: $base-margin;
}
// PostCard bottom
.post-card-bottom {
    margin-top: 10px;
    margin: $base-margin;

    p:nth-child(2) {
       position: relative;
       bottom: 12px;
    }
}

@media screen and (min-width: 1125px) {
    .post-card-container{
        width: 698px !important;
        margin: auto;
    }
    .carousel-root {
        width: auto;
    }

    .spacer{
        width: 550px;
    }
    
}
