@import "general.scss";

.signup{
    margin: 0 5vw;
     h1 {
        font-weight: 800;
        font-size: 24px;
        line-height: 140%;
        color: $dark;
        margin-top: 40px;
        margin-bottom: 20px;
     }
    p {
        text-align: center;
        margin-top: 20px;
        font-family: Avenir;
        font-size: 14px;
        line-height: 140%;
        color: #777;
    }

    label{
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 140%;
        color: #777;
    }

    input{
        margin-bottom: 20px;
        margin-top: 5px;
        padding: 10px
    }

    #login-link {
        color:#0133a0 !important;  
    }
    #login-text {
        position: relative;
        top: 20px;
        margin-bottom: 160px;
    }
}


@media only screen and (min-width: 768px) {

    .signup{ 
        margin: 0 30%;
    }

    .primary-btn {
        width: 100%;
        margin: 0 auto
    }

    .signup input {
        width: 100%
    }
}

