@import "general.scss";

.user-profile {
    padding-bottom: 80px;
    h3{
        font-size: 16px;
        color: $dark-grey;
        margin: $base-margin
    }
    h3:hover {
        cursor: pointer;
    }
    .settings-icon {
        position: absolute;
        z-index: 99;
        top: 2vh;
        left: 2vw;
     }
     .logout {
        position: absolute;
             z-index: 99;
             top: 2vh;
             left: 4vw;
             
             p {
                 background-color: #fff;
                 padding: 10px 20px;
                 position: relative;
                 top: 30px;
                 cursor: pointer;
                 border-radius: 4px;
                 font-size: 14px;
                 color: #737373
                
             }
     }
     // .dropdown {
    //     position: relative;
    //   }
    //   .dropdown-content {
    //     display: none;
    //     position: absolute;
    //     z-index: 99;
    //     top: 2vh;
    //     left: 2vw;
    //    p {
    //        position: relative;
    //        padding: 10px;
    //        background-color: #fff;
    //    }
     // }
      .dropdown:hover .dropdown-content {
        display: block !important;
      }
    .edit-profile-icon{
        position: absolute;
        z-index: 10;
        top: 2vh;
        right: 2vw;
    }

    form button {
        background-color: $primary-color;
        border-radius: $border-radius-btn;
        padding: 10px 20px;
        color: #fff;
        font-weight: 600;
    }
    
    .follow-btn,
    .unfollow-btn{
        border-radius: $border-radius-btn;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 20px;
        outline: none
    }
    .follow-btn{
        background-color: $primary-color;
        color: $color-primary-button;
    }
    .unfollow-btn{
        background-color: #fff;
        color: $primary-color;
        border: 1px solid #fff
    }
    button:hover{
        cursor: pointer;
    }

    .user-info {
        position: relative;
        left: 130px;
        bottom: 160px;
        max-width: 200px;
       
        h1 {
            color: #fff;
        }
        .user-location-info{
              display: flex;
              position: relative;
              bottom: 10px;
             
            img {
                // width: 10px;
                // height: 14px;
                position: relative;
                left: 3px;
                bottom: 2px;
            }
            .location {
                font-size: 14px;
                position: relative;
                left: 10px;
                bottom: 2px;
                color: #fff;
               }
        }
    }

    .followers {
        color: $dark-grey;
        position: relative;
        bottom: 150px;
        left: 130px;
        font-size: 15px;       
    }
    .bio {
        position: relative;
        bottom: 150px;
        padding: 0 5vw;
        word-break: break-all 
    }
  
    .sports-section{
        position: relative;
        bottom: 120px;
    } 


    .categories{
        margin: $base-margin;
        padding-top: 20px;
        position: relative;
        .wrapper-categories {
            overflow: auto;
            white-space: nowrap;
            height: 100px;
        }
        .wrapper-categories::-webkit-scrollbar {
            display: none;
          }  
        .item{
            display: inline-block;
            text-align: center;
            width: 30%;
            margin-right: 10px;
            margin-bottom: 15px;
        }
        .container {
            display: block;
            position: relative;
            // bottom: 15px;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        /* Hide the browser's default checkbox */
        .container input {
            opacity: 0;
            height: 0;
            width: 0;
        }
        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            border-radius: 4px;
            text-align: center;
            padding: 8px 0;
            top: 0;
            left: 0;
            height: auto;
            width: 100%;
            font-size: 11px;
            font-weight: 500;
            color: $dark-grey;
            background-color: #fff;
            border: 1px solid #F2F2F2;
            word-wrap: break-word
        }       
    }

    .locations {
        position: relative;
        bottom: 150px;
        .checkmark-location {
            position: absolute;
            border-radius: 50px;
            text-align: center;
            padding: 6px 0;
            top: 0;
            left: 0;
            height: 50px;
            width: 100%;
            font-size: 11px;
            font-weight: 500;
            color: $dark-grey;
            background-color: #fff;
            word-wrap: break-word;
            img {
                position: relative;
                top: 10px
            }
            span{
                position: relative;
                top: 8px;
                left: 4px;
            }
        }
    }
    .posts-to-show {
      margin-top: 20px;
    }
    .divider{
        height: 1px;
        background-color: #e5e5e5;
        position: relative;
        bottom: 180px;
        margin: $base-margin;
      }

      .posts-header {
          display: flex;
      }

      .posts-header, .posts-to-show{
          position: relative;
          bottom: 140px;
      }

      .create-first-post{
          text-align: center;
          margin-top: 40px;
      }

      .border-bottom {
          border-bottom: 2px solid $primary-color;
      }
  
}
@media(min-width: 600px){
    .user-profile{
        .user-info, .followers {
           left: 200px
        }
    }
    .bio{ 
        max-width: 600px;
        margin-top: 40px;
    }
}
